.btn{
    position:absolute; 
    z-index: 2;
    font-size: large;
    color:white;
}
.btnCount{
    display:absolute; 
    height:17px;
    width:17px;
    background-color: red;
    border-radius:50px;  
    position:absolute;
    color:white; 
    z-index: 3; 
    font-size:x-small;    
    margin-left: 25px;
    margin-top: 20px;
    
}
